<html>
<head>
<!-- The param which is passed from render-->
<title><%= title %></title>
</head>
<body>
<div>
<a href="/">Home</a> |
<a href="/store/add">Add New Item</a> |
<a href="/store">List all item</a>
</div>
<h1><%= title %></h1>
